JWT_SECRET=1234567890
JWT_EXPIRES_TIME=3600

REDIS_HOST=localhost
REDIS_PORT=6379

OPAL_REST_URL=https://rest.unique.network/opal/v1
QUARTZ_REST_URL=https://rest.unique.network/quartz/v1
UNIQUE_REST_URL=https://rest.unique.network/unique/v1

MINIO_END_POINT=storage.unique.network
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

ADMINS_ADDRESS_LIST=
